__pycache__
.vscode
.pyc
comparison_table.pkl
*.pyc
.ipynb_checkpoints
test_missing.sh
testcase.py
notebooks/data/Outputs/*
hydrological_connectivity/hydrology_connectivity.egg-info/

hydrology_connectivity.egg-info/

notebooks/data/andrew/

notebooks/data/Adjusted_DEM.tif

notebooks/data/gradient.tif

notebooks/data/output_wd*.tif
